# Dependencias
node_modules/
package-lock.json
yarn.lock

# Variables de entorno
.env
.env.local
.env.*.local
.env.example

# Archivos de sistema
.DS_Store
Thumbs.db
*.log
*.tmp
*.temp

# Directorios de compilación
dist/
build/
coverage/
.nyc_output/

# Archivos de editor
.vscode/
.idea/
*.swp
*.swo
*~

# Archivos de depuración
npm-debug.log*
yarn-debug.log*
yarn-error.log*